<!doctype html>
<html ng-app>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script src='../lib/Classy/classy.js'></script>
		<script src='./types.js'></script>
		<script src='./uiv2.js'></script>
		<link rel="stylesheet" href="ui.css">
	</head>		
	<body>
		<div ng-controller='FACtrl'>
			<div id='accountsArea'>
				<div id="accounts">
					<table>
						<thead>
							<tr>
								<th class='empty'></th><th>Account Type</th><th>Starting Balance</th><th>APR</th><th>Minimum Payment</th><th class='empty'></th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="account in accounts">
								<th ng-hide="account.editing">{{account.name}}</th>
								<td ng-hide="account.editing">{{account._type}}</td>
								<td ng-hide="account.editing">{{account.startbalance}}</td>
								<td ng-hide="account.editing">{{account.apr}}</td>
								<td ng-hide="account.editing">{{account.minpmt}}</td>
								<td ng-hide="account.editing">
									<button type='button' ng-click="account.editing=true;">
										<img src='http://cdn.dustball.com/pencil.png' />
									</button>
									<button type='button' ng-click='swapup($index);' >
										<img src='http://cdn.dustball.com/arrow_up.png'>
									</button>
									<button type='button' ng-click='swapdown($index);' >
										<img src='http://cdn.dustball.com/arrow_down.png'>
									</button>
									<button type='button' ng-click='removeAcct($index);' >
										<img src='http://cdn.dustball.com/delete.png'>
									</button>
									<button type='button' ng-click='ignoreAcct($index);' >
										<img src='http://cdn.dustball.com/stop.png'>
									</button>
								</td>


								<th ng-show="account.editing">	
									<input type="text" ng-model="account.name" placeholder="Account Name" ng-required />
								</th>
								<td ng-show="account.editing">
									<input type="text" ng-model="account._type" placeholder="Type" ng-required />
								</td>
								<td ng-show="account.editing">
									<input type="text" ng-model="account.startbalance" placeholder="Starting Balance" ng-required />
								</td>
								<td ng-show="account.editing">
									<input type="text" ng-model="account.apr" placeholder="APR" ng-required />
								</td>
								<td ng-show="account.editing">
									<input type="text" ng-model="account.minpmt" placeholder="Minimum Deposit" ng-required />
								</td>
								<td ng-show="account.editing">
									<button type='button' ng-click="account.editing=false; saveToLocalStorage();">
										<img src='http://cdn.dustball.com/disk.png' />
									</button>
								</td>


							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</body>

</html>
